GeographieMetier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="gouv.education.apogee.commun.servicesmetiers.GeographieMetier_06062007-impl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="gouv.education.apogee.commun.servicesmetiers.GeographieMetier_06062007-impl" xmlns:intf="gouv.education.apogee.commun.servicesmetiers.GeographieMetier_06062007-impl" xmlns:tns1="gouv.education.apogee.commun.servicesmetiers.GeographieMetier_06062007" xmlns:tns2="CommuneDTO.geographie.dto.transverse.commun.apogee.education.gouv" xmlns:tns3="exception.transverse.commun.apogee.education.gouv" xmlns:tns4="PaysDTO.geographie.dto.transverse.commun.apogee.education.gouv" xmlns:tns5="DepartementDTO.geographie.dto.transverse.commun.apogee.education.gouv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Dec 22, 2008 (02:17:58 CET)-->
 <wsdl:types>
  <schema targetNamespace="gouv.education.apogee.commun.servicesmetiers.GeographieMetier_06062007" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="exception.transverse.commun.apogee.education.gouv"/>
   <import namespace="DepartementDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="PaysDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="CommuneDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <element name="recupererCommune">
    <complexType>
     <sequence>
      <element name="_codePostal" type="xsd:string"/>
      <element name="_temoinEnServiceCom" type="xsd:string"/>
      <element name="_temoinEnServiceBD" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="recupererCommuneResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="recupererCommuneReturn" type="tns2:CommuneDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns3:WebBaseException"/>
   <element name="recupererPays">
    <complexType>
     <sequence>
      <element name="_codePays" type="xsd:string"/>
      <element name="_temoinEnService" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="recupererPaysResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="recupererPaysReturn" type="tns4:PaysDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="recupererDepartement">
    <complexType>
     <sequence>
      <element name="_codeDept" type="xsd:string"/>
      <element name="_temoinEnService" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="recupererDepartementResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="recupererDepartementReturn" type="tns5:DepartementDTO"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema targetNamespace="CommuneDTO.geographie.dto.transverse.commun.apogee.education.gouv" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="exception.transverse.commun.apogee.education.gouv"/>
   <import namespace="DepartementDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="PaysDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <complexType name="CommuneDTO">
    <sequence>
     <element name="codeCommune" nillable="true" type="xsd:string"/>
     <element name="codePostal" nillable="true" type="xsd:string"/>
     <element name="libBureauDis" nillable="true" type="xsd:string"/>
     <element name="libCommune" nillable="true" type="xsd:string"/>
     <element name="temSevBureauDis" nillable="true" type="xsd:string"/>
     <element name="temSevCommune" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="exception.transverse.commun.apogee.education.gouv" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="DepartementDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="PaysDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="CommuneDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <complexType name="TableauString">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WebBaseException">
    <sequence>
     <element name="domaine" nillable="true" type="xsd:string"/>
     <element name="element" nillable="true" type="xsd:string"/>
     <element name="lastErrorMsg" nillable="true" type="xsd:string"/>
     <element name="messages" nillable="true" type="tns3:TableauString"/>
     <element name="nature" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="PaysDTO.geographie.dto.transverse.commun.apogee.education.gouv" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="exception.transverse.commun.apogee.education.gouv"/>
   <import namespace="DepartementDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="CommuneDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <complexType name="PaysDTO">
    <sequence>
     <element name="codePay" nillable="true" type="xsd:string"/>
     <element name="libNat" nillable="true" type="xsd:string"/>
     <element name="libPay" nillable="true" type="xsd:string"/>
     <element name="temEnSvePay" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="DepartementDTO.geographie.dto.transverse.commun.apogee.education.gouv" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="exception.transverse.commun.apogee.education.gouv"/>
   <import namespace="PaysDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <import namespace="CommuneDTO.geographie.dto.transverse.commun.apogee.education.gouv"/>
   <complexType name="DepartementDTO">
    <sequence>
     <element name="codeAca" nillable="true" type="xsd:string"/>
     <element name="codeDept" nillable="true" type="xsd:string"/>
     <element name="libAca" nillable="true" type="xsd:string"/>
     <element name="libDept" nillable="true" type="xsd:string"/>
     <element name="temEnSveDept" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="recupererCommuneResponse">

      <wsdl:part element="tns1:recupererCommuneResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="recupererCommuneRequest">

      <wsdl:part element="tns1:recupererCommune" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WebBaseException">

      <wsdl:part element="tns1:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="recupererDepartementResponse">

      <wsdl:part element="tns1:recupererDepartementResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="recupererPaysRequest">

      <wsdl:part element="tns1:recupererPays" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="recupererPaysResponse">

      <wsdl:part element="tns1:recupererPaysResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="recupererDepartementRequest">

      <wsdl:part element="tns1:recupererDepartement" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="GeographieMetierServiceInterface">

      <wsdl:operation name="recupererCommune">

         <wsdl:input message="impl:recupererCommuneRequest" name="recupererCommuneRequest"/>

         <wsdl:output message="impl:recupererCommuneResponse" name="recupererCommuneResponse"/>

         <wsdl:fault message="impl:WebBaseException" name="WebBaseException"/>

      </wsdl:operation>

      <wsdl:operation name="recupererPays">

         <wsdl:input message="impl:recupererPaysRequest" name="recupererPaysRequest"/>

         <wsdl:output message="impl:recupererPaysResponse" name="recupererPaysResponse"/>

         <wsdl:fault message="impl:WebBaseException" name="WebBaseException"/>

      </wsdl:operation>

      <wsdl:operation name="recupererDepartement">

         <wsdl:input message="impl:recupererDepartementRequest" name="recupererDepartementRequest"/>

         <wsdl:output message="impl:recupererDepartementResponse" name="recupererDepartementResponse"/>

         <wsdl:fault message="impl:WebBaseException" name="WebBaseException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GeographieMetierSoapBinding" type="impl:GeographieMetierServiceInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="recupererCommune">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recupererCommuneRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="recupererCommuneResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WebBaseException">

            <wsdlsoap:fault name="WebBaseException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="recupererPays">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recupererPaysRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="recupererPaysResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WebBaseException">

            <wsdlsoap:fault name="WebBaseException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="recupererDepartement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recupererDepartementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="recupererDepartementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WebBaseException">

            <wsdlsoap:fault name="WebBaseException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GeographieMetierServiceInterfaceService">

      <wsdl:port binding="impl:GeographieMetierSoapBinding" name="GeographieMetier">

         <wsdlsoap:address location="http://apo-webservices.univ-rennes1.fr/services/GeographieMetier"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
