ReadEnseignement.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ReadEnseignementImplService" targetNamespace="http://remote.services.wssi.esupportail.org/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://remote.services.wssi.esupportail.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://remote.services.wssi.esupportail.org/" version="1.0" xmlns:tns="http://remote.services.wssi.esupportail.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="anneeUniDTO1" type="tns:anneeUniDTO1" />
<xs:element name="anneeUniDTO1Response" type="tns:anneeUniDTO1Response" />
<xs:element name="anneeUniDTO2" type="tns:anneeUniDTO2" />
<xs:element name="anneeUniDTO2Response" type="tns:anneeUniDTO2Response" />
<xs:element name="getDipAutCurs" type="tns:getDipAutCurs" />
<xs:element name="getDipAutCursResponse" type="tns:getDipAutCursResponse" />
<xs:element name="getDiplome" type="tns:getDiplome" />
<xs:element name="getDiplomeResponse" type="tns:getDiplomeResponse" />
<xs:element name="getDiplomes" type="tns:getDiplomes" />
<xs:element name="getDiplomesResponse" type="tns:getDiplomesResponse" />
<xs:element name="getElementPedagogi" type="tns:getElementPedagogi" />
<xs:element name="getElementPedagogiResponse" type="tns:getElementPedagogiResponse" />
<xs:element name="getElementPedagogis" type="tns:getElementPedagogis" />
<xs:element name="getElementPedagogisResponse" type="tns:getElementPedagogisResponse" />
<xs:element name="getEpreuvesVet" type="tns:getEpreuvesVet" />
<xs:element name="getEpreuvesVetResponse" type="tns:getEpreuvesVetResponse" />
<xs:element name="getEtape" type="tns:getEtape" />
<xs:element name="getEtapeResponse" type="tns:getEtapeResponse" />
<xs:element name="getEtapes" type="tns:getEtapes" />
<xs:element name="getEtapesResponse" type="tns:getEtapesResponse" />
<xs:element name="getMaqCalend" type="tns:getMaqCalend" />
<xs:element name="getMaqCalendResponse" type="tns:getMaqCalendResponse" />
<xs:element name="getMaqCalends" type="tns:getMaqCalends" />
<xs:element name="getMaqCalendsResponse" type="tns:getMaqCalendsResponse" />
<xs:element name="getPeriodeExa" type="tns:getPeriodeExa" />
<xs:element name="getPeriodeExaResponse" type="tns:getPeriodeExaResponse" />
<xs:element name="getPeriodesExa" type="tns:getPeriodesExa" />
<xs:element name="getPeriodesExaResponse" type="tns:getPeriodesExaResponse" />
<xs:element name="getTypDiplomes" type="tns:getTypDiplomes" />
<xs:element name="getTypDiplomesResponse" type="tns:getTypDiplomesResponse" />
<xs:element name="getVersionDiplome1" type="tns:getVersionDiplome1" />
<xs:element name="getVersionDiplome1Response" type="tns:getVersionDiplome1Response" />
<xs:element name="getVersionDiplome2" type="tns:getVersionDiplome2" />
<xs:element name="getVersionDiplome2Response" type="tns:getVersionDiplome2Response" />
<xs:element name="getVersionDiplomes" type="tns:getVersionDiplomes" />
<xs:element name="getVersionDiplomesResponse" type="tns:getVersionDiplomesResponse" />
<xs:element name="getVersionEtape" type="tns:getVersionEtape" />
<xs:element name="getVersionEtapeResponse" type="tns:getVersionEtapeResponse" />
<xs:element name="getVersionEtapes1" type="tns:getVersionEtapes1" />
<xs:element name="getVersionEtapes1Response" type="tns:getVersionEtapes1Response" />
<xs:element name="getVersionEtapes2" type="tns:getVersionEtapes2" />
<xs:element name="getVersionEtapes2Response" type="tns:getVersionEtapes2Response" />
<xs:element name="getVersionEtapes3" type="tns:getVersionEtapes3" />
<xs:element name="getVersionEtapes3Response" type="tns:getVersionEtapes3Response" />
<xs:complexType name="getEtape">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEtapeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:etape" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="etape">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAct" type="xs:string" />
      <xs:element minOccurs="0" name="codCur" type="xs:string" />
      <xs:element minOccurs="0" name="codCyc" type="xs:string" />
      <xs:element minOccurs="0" name="codEtp" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="etpGererCge" nillable="true" type="tns:etpGererCge" />
      <xs:element minOccurs="0" name="libEtp" type="xs:string" />
      <xs:element minOccurs="0" name="licEtp" type="xs:string" />
      <xs:element minOccurs="0" name="nbrMaxIaeAut" type="xs:int" />
      <xs:element minOccurs="0" name="nbrMaxInscDeug" type="xs:int" />
      <xs:element minOccurs="0" name="temCouAccTrvEtp" type="xs:string" />
      <xs:element minOccurs="0" name="temOuvDrtSsoEtp" type="xs:string" />
      <xs:element minOccurs="0" name="temTypOpi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="etpGererCge">
    <xs:sequence>
      <xs:element minOccurs="0" name="centreGestion" type="tns:centreGestion" />
      <xs:element minOccurs="0" name="codCge" type="xs:string" />
      <xs:element minOccurs="0" name="codCmp" type="xs:string" />
      <xs:element minOccurs="0" name="codEtp" type="xs:string" />
      <xs:element minOccurs="0" name="etape" type="tns:etape" />
      <xs:element minOccurs="0" name="nbrCptAccEtu" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="centreGestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCge" type="xs:string" />
      <xs:element minOccurs="0" name="codComAdrCge" type="xs:string" />
      <xs:element minOccurs="0" name="codCpa" type="xs:string" />
      <xs:element minOccurs="0" name="codModPaiMinCge" type="xs:string" />
      <xs:element minOccurs="0" name="codModPaiMinpCge" type="xs:string" />
      <xs:element minOccurs="0" name="codPosAdrCge" type="xs:string" />
      <xs:element minOccurs="0" name="datDebInsCge" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datFinInsCge" type="xs:dateTime" />
      <xs:element minOccurs="0" name="etatypEdtCrtCge" type="xs:string" />
      <xs:element minOccurs="0" name="libAd1Cge" type="xs:string" />
      <xs:element minOccurs="0" name="libAd2Cge" type="xs:string" />
      <xs:element minOccurs="0" name="libAd3Cge" type="xs:string" />
      <xs:element minOccurs="0" name="libCge" type="xs:string" />
      <xs:element minOccurs="0" name="libCmtCge" type="xs:string" />
      <xs:element minOccurs="0" name="libCmtPcjMinCge" type="xs:string" />
      <xs:element minOccurs="0" name="libNomRespCge" type="xs:string" />
      <xs:element minOccurs="0" name="licCge" type="xs:string" />
      <xs:element minOccurs="0" name="modEdtCrt" type="xs:string" />
      <xs:element minOccurs="0" name="nbrEtuCpt" type="xs:int" />
      <xs:element minOccurs="0" name="nbrMaxInsAut" type="xs:int" />
      <xs:element minOccurs="0" name="numChrQutCge" type="xs:int" />
      <xs:element minOccurs="0" name="numOccPrmQutVal" type="xs:int" />
      <xs:element minOccurs="0" name="numOccQutEdt" type="xs:int" />
      <xs:element minOccurs="0" name="numOccQutEdtLch" type="xs:int" />
      <xs:element minOccurs="0" name="numOccQutEdtVdr" type="xs:int" />
      <xs:element minOccurs="0" name="numOccQutVal" type="xs:int" />
      <xs:element minOccurs="0" name="temCtrlPai" type="xs:string" />
      <xs:element minOccurs="0" name="temCtrlRmb" type="xs:string" />
      <xs:element minOccurs="0" name="temEnSveCge" type="xs:string" />
      <xs:element minOccurs="0" name="temMinCge" type="xs:string" />
      <xs:element minOccurs="0" name="temPaiMemePos" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtapes2">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:diplome" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="diplome">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCyc" type="xs:string" />
      <xs:element minOccurs="0" name="codDfd" type="xs:string" />
      <xs:element minOccurs="0" name="codDip" type="xs:string" />
      <xs:element minOccurs="0" name="codEtb" type="xs:string" />
      <xs:element minOccurs="0" name="codNdi" type="xs:string" />
      <xs:element minOccurs="0" name="codNim" type="xs:string" />
      <xs:element minOccurs="0" name="codSds" type="xs:string" />
      <xs:element minOccurs="0" name="codTpdEtb" type="xs:string" />
      <xs:element minOccurs="0" name="libDip" type="xs:string" />
      <xs:element minOccurs="0" name="licDip" type="xs:string" />
      <xs:element minOccurs="0" name="nbrMaxInscDeug" type="xs:string" />
      <xs:element minOccurs="0" name="temCouAccTrvDip" type="xs:string" />
      <xs:element minOccurs="0" name="temOuvDrtSsoDip" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtapes2Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:versionEtapeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="versionEtapeDTO">
    <xs:complexContent>
      <xs:extension base="tns:dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCgeMinVet" type="xs:string" />
          <xs:element minOccurs="0" name="codCgeMinpVet" type="xs:string" />
          <xs:element minOccurs="0" name="codEtp" type="xs:string" />
          <xs:element minOccurs="0" name="codVrsVet" type="xs:int" />
          <xs:element minOccurs="0" name="datDebMinVet" type="xs:dateTime" />
          <xs:element minOccurs="0" name="datDebMinpVet" type="xs:dateTime" />
          <xs:element minOccurs="0" name="datFinMinVet" type="xs:dateTime" />
          <xs:element minOccurs="0" name="datFinMinpVet" type="xs:dateTime" />
          <xs:element minOccurs="0" name="libCmtVet" type="xs:string" />
          <xs:element minOccurs="0" name="libWebVet" type="xs:string" />
          <xs:element minOccurs="0" name="licEtp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="dto">
    <xs:sequence />
  </xs:complexType>
<xs:complexType name="getPeriodesExa">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPeriodesExaResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:periodeExa" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="periodeExa">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCin" type="xs:string" />
      <xs:element minOccurs="0" name="codPxa" type="xs:string" />
      <xs:element minOccurs="0" name="datDebPxa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datDerTrtPxa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datFinPxa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="libPxa" type="xs:string" />
      <xs:element minOccurs="0" name="temEnSvePxa" type="xs:string" />
      <xs:element minOccurs="0" name="temPrdValidPxa" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtapes3">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:versionDiplomeDTO" />
      <xs:element minOccurs="0" name="arg1" type="xs:boolean" />
      <xs:element minOccurs="0" name="arg2" type="xs:boolean" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="versionDiplomeDTO">
    <xs:complexContent>
      <xs:extension base="tns:dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codDip" type="xs:string" />
          <xs:element minOccurs="0" name="codVrsVdi" type="xs:int" />
          <xs:element minOccurs="0" name="libWebVdi" type="xs:string" />
          <xs:element minOccurs="0" name="licVdi" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="getVersionEtapes3Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:versionEtapeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getElementPedagogi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getElementPedagogiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:elementPedagogi" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="elementPedagogi">
    <xs:sequence>
      <xs:element minOccurs="0" name="barMinConElp" type="xs:int" />
      <xs:element minOccurs="0" name="barMinRptElp" type="xs:int" />
      <xs:element minOccurs="0" name="barSaiElp" type="xs:int" />
      <xs:element minOccurs="0" name="capIntElp" type="xs:int" />
      <xs:element minOccurs="0" name="capMaxElp" type="xs:int" />
      <xs:element minOccurs="0" name="codVolElp" type="xs:string" />
      <xs:element minOccurs="0" name="codeELP" type="xs:string" />
      <xs:element minOccurs="0" name="datCreElp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datDebOpeIpe" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datFinOpeIpe" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datModElp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="durConElp" type="xs:int" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eprSanctionneElp" nillable="true" type="tns:eprSanctionneElp" />
      <xs:element minOccurs="0" name="etaElp" type="xs:string" />
      <xs:element minOccurs="0" name="libCmtElp" type="xs:string" />
      <xs:element minOccurs="0" name="libElp" type="xs:string" />
      <xs:element minOccurs="0" name="libLieElp" type="xs:string" />
      <xs:element minOccurs="0" name="libNomRspElp" type="xs:string" />
      <xs:element minOccurs="0" name="libSusElp" type="xs:string" />
      <xs:element minOccurs="0" name="licElp" type="xs:string" />
      <xs:element minOccurs="0" name="nbrCrdElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbrEffPrvElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbrHeuCmElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbrHeuTPElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbrHeuTdElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbrVolElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbradmElp" type="xs:int" />
      <xs:element minOccurs="0" name="nbradmEtr" type="xs:int" />
      <xs:element minOccurs="0" name="nbradmFra" type="xs:int" />
      <xs:element minOccurs="0" name="notMaxAdmDen" type="xs:int" />
      <xs:element minOccurs="0" name="notMaxAdmNum" type="xs:int" />
      <xs:element minOccurs="0" name="notMinAdmDen" type="xs:int" />
      <xs:element minOccurs="0" name="notMinAdmNum" type="xs:int" />
      <xs:element minOccurs="0" name="notMinConElp" type="xs:int" />
      <xs:element minOccurs="0" name="notMinRptElp" type="xs:int" />
      <xs:element minOccurs="0" name="notMinRptElpDen" type="xs:int" />
      <xs:element minOccurs="0" name="notMinRptElpNum" type="xs:int" />
      <xs:element minOccurs="0" name="notObtElpDen" type="xs:int" />
      <xs:element minOccurs="0" name="notObtElpNum" type="xs:int" />
      <xs:element minOccurs="0" name="numPreElp" type="xs:int" />
      <xs:element minOccurs="0" name="temADisElp" type="xs:string" />
      <xs:element minOccurs="0" name="temAdi" type="xs:string" />
      <xs:element minOccurs="0" name="temAdo" type="xs:string" />
      <xs:element minOccurs="0" name="temAjsElp" type="xs:string" />
      <xs:element minOccurs="0" name="temAnlRptElp" type="xs:string" />
      <xs:element minOccurs="0" name="temCapElp" type="xs:string" />
      <xs:element minOccurs="0" name="temConElp" type="xs:string" />
      <xs:element minOccurs="0" name="temCtlValCadElp" type="xs:string" />
      <xs:element minOccurs="0" name="temElpCap" type="xs:string" />
      <xs:element minOccurs="0" name="temElpPrmNiv" type="xs:string" />
      <xs:element minOccurs="0" name="temHeuEnsElp" type="xs:string" />
      <xs:element minOccurs="0" name="temJurElp" type="xs:string" />
      <xs:element minOccurs="0" name="temMccElp" type="xs:string" />
      <xs:element minOccurs="0" name="temMeiNotElp" type="xs:string" />
      <xs:element minOccurs="0" name="temMndUni" type="xs:string" />
      <xs:element minOccurs="0" name="temNotElp" type="xs:string" />
      <xs:element minOccurs="0" name="temPntJurElp" type="xs:string" />
      <xs:element minOccurs="0" name="temReiIpeAcq" type="xs:string" />
      <xs:element minOccurs="0" name="temRelPosSyt" type="xs:string" />
      <xs:element minOccurs="0" name="temResElp" type="xs:string" />
      <xs:element minOccurs="0" name="temRptDscElp" type="xs:string" />
      <xs:element minOccurs="0" name="temScaElp" type="xs:string" />
      <xs:element minOccurs="0" name="temSesUni" type="xs:string" />
      <xs:element minOccurs="0" name="temSusElp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="eprSanctionneElp">
    <xs:sequence>
      <xs:element minOccurs="0" name="codElp" type="xs:string" />
      <xs:element minOccurs="0" name="codEpr" type="xs:string" />
      <xs:element minOccurs="0" name="codSes" type="xs:string" />
      <xs:element minOccurs="0" name="datCreEprSes" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datModEprSes" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datSusEprSes" type="xs:dateTime" />
      <xs:element minOccurs="0" name="temSusEprSes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtapes1">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtapes1Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:versionEtapeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionDiplomes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:critereVdiDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="critereVdiDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codDip" type="xs:string" />
      <xs:element minOccurs="0" name="codEtp" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="codTpdEtb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codVrsVdi" type="xs:int" />
      <xs:element minOccurs="0" name="codVrsVet" type="xs:int" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="codeDiplome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateRct" type="xs:string" />
      <xs:element minOccurs="0" name="libWebVdi" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="methodToExecute" nillable="true" type="tns:methodToLookForVdi" />
      <xs:element minOccurs="0" name="onlyTerminaux" type="xs:boolean" />
      <xs:element minOccurs="0" name="typeCritere" type="tns:typeCritereVdi" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionDiplomesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:versionDiplomeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEpreuvesVet">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEpreuvesVetResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:epreuve" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="epreuve">
    <xs:sequence>
      <xs:element minOccurs="0" name="barMinConEpr" type="xs:int" />
      <xs:element minOccurs="0" name="barMinRptEpr" type="xs:int" />
      <xs:element minOccurs="0" name="barSaiEpr" type="xs:int" />
      <xs:element minOccurs="0" name="codAdmEpr" type="xs:string" />
      <xs:element minOccurs="0" name="codCin" type="xs:string" />
      <xs:element minOccurs="0" name="codEpr" type="xs:string" />
      <xs:element minOccurs="0" name="codNep" type="xs:string" />
      <xs:element minOccurs="0" name="codPan1" type="xs:string" />
      <xs:element minOccurs="0" name="codPan2" type="xs:string" />
      <xs:element minOccurs="0" name="codPan3" type="xs:string" />
      <xs:element minOccurs="0" name="codPan4" type="xs:string" />
      <xs:element minOccurs="0" name="codPer" type="xs:int" />
      <xs:element minOccurs="0" name="codPxa1" type="xs:string" />
      <xs:element minOccurs="0" name="codPxa2" type="xs:string" />
      <xs:element minOccurs="0" name="codTep" type="xs:string" />
      <xs:element minOccurs="0" name="datCreEpr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datDebIeWeb" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datFinIeWeb" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datModEpr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="durConEpr" type="xs:int" />
      <xs:element minOccurs="0" name="durExaS1Epr" type="xs:int" />
      <xs:element minOccurs="0" name="durExaS2Epr" type="xs:int" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eprSanctionneElps" nillable="true" type="tns:eprSanctionneElp" />
      <xs:element minOccurs="0" name="libCmtEpr" type="xs:string" />
      <xs:element minOccurs="0" name="libDocAutEpr" type="xs:string" />
      <xs:element minOccurs="0" name="libEpr" type="xs:string" />
      <xs:element minOccurs="0" name="libTypExeEpr" type="xs:string" />
      <xs:element minOccurs="0" name="licEpr" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="maqCalends" nillable="true" type="tns:maqCalend" />
      <xs:element minOccurs="0" name="nbrEtuAidEpr" type="xs:int" />
      <xs:element minOccurs="0" name="nbrEtuHanMotEpr" type="xs:int" />
      <xs:element minOccurs="0" name="nbrEtuTieTpsEpr" type="xs:int" />
      <xs:element minOccurs="0" name="notMinConEpr" type="xs:int" />
      <xs:element minOccurs="0" name="notMinRptEpr" type="xs:int" />
      <xs:element minOccurs="0" name="temAd" type="xs:string" />
      <xs:element minOccurs="0" name="temAjsEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temAnlRptEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temConEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temCtlValCadEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temDocAutEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temIeObl" type="xs:string" />
      <xs:element minOccurs="0" name="temNotEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temOrgEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temRelPosSyt" type="xs:string" />
      <xs:element minOccurs="0" name="temResEpr" type="xs:string" />
      <xs:element minOccurs="0" name="temSesUni" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="maqCalend">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCln" type="xs:string" />
      <xs:element minOccurs="0" name="codPxa" type="xs:string" />
      <xs:element minOccurs="0" name="libCln" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPeriodeExa">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPeriodeExaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:periodeExa" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getDiplome">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getDiplomeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:diplome" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionDiplome2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionDiplome2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:versionDiplomeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTypDiplomes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTypDiplomesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:typDiplome" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="typDiplome">
    <xs:sequence>
      <xs:element minOccurs="0" name="aglCur" type="xs:string" />
      <xs:element minOccurs="0" name="aglForm" type="xs:string" />
      <xs:element minOccurs="0" name="aglTemMast" type="xs:string" />
      <xs:element minOccurs="0" name="codNif" type="xs:int" />
      <xs:element minOccurs="0" name="codTds" type="xs:string" />
      <xs:element minOccurs="0" name="codTdsInt" type="xs:string" />
      <xs:element minOccurs="0" name="codTpdEtb" type="xs:string" />
      <xs:element minOccurs="0" name="codTpdSis" type="xs:string" />
      <xs:element minOccurs="0" name="etaThsHdrDrt" type="xs:string" />
      <xs:element minOccurs="0" name="libTpd" type="xs:string" />
      <xs:element minOccurs="0" name="licTpd" type="xs:string" />
      <xs:element minOccurs="0" name="temCrdSis" type="xs:string" />
      <xs:element minOccurs="0" name="temEnSveTpd" type="xs:string" />
      <xs:element minOccurs="0" name="temEnqSisTpd" type="xs:string" />
      <xs:element minOccurs="0" name="temNatEur" type="xs:string" />
      <xs:element minOccurs="0" name="temPrior" type="xs:string" />
      <xs:element minOccurs="0" name="temSante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getElementPedagogis">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getElementPedagogisResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:elementPedagogi" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtape">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionEtapeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:versionEtapeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEtapes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEtapesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:etape" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anneeUniDTO1">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anneeUniDTO1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:anneeUniDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anneeUniDTO">
    <xs:complexContent>
      <xs:extension base="tns:dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codAnu" type="xs:string" />
          <xs:element minOccurs="0" name="libAnu" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="getMaqCalend">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getMaqCalendResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:maqCalend" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionDiplome1">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVersionDiplome1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:versionDiplomeDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getMaqCalends">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getMaqCalendsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:maqCalend" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anneeUniDTO2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:critereAnneeUniDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="critereAnneeUniDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="etatIAE" type="xs:string" />
      <xs:element minOccurs="0" name="etatIPE" type="xs:string" />
      <xs:element minOccurs="0" name="etatRES" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anneeUniDTO2Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:anneeUniDTO" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getDiplomes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getDiplomesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:diplome" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getDipAutCurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getDipAutCursResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dipAutCur" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="dipAutCur">
    <xs:sequence>
      <xs:element minOccurs="0" name="codDac" type="xs:string" />
      <xs:element minOccurs="0" name="codSisDac" type="xs:string" />
      <xs:element minOccurs="0" name="libDac" type="xs:string" />
      <xs:element minOccurs="0" name="licDac" type="xs:string" />
      <xs:element minOccurs="0" name="temEnSveDac" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="methodToLookForVdi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="vdiToVet" />
      <xs:enumeration value="vdiToListCodDip" />
      <xs:enumeration value="vdiTovdi" />
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="typeCritereVdi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="like" />
      <xs:enumeration value="equals" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEtapesResponse">
    <wsdl:part element="tns:getEtapesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEpreuvesVet">
    <wsdl:part element="tns:getEpreuvesVet" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaqCalendsResponse">
    <wsdl:part element="tns:getMaqCalendsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEtapes">
    <wsdl:part element="tns:getEtapes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapes3Response">
    <wsdl:part element="tns:getVersionEtapes3Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiplomesResponse">
    <wsdl:part element="tns:getDiplomesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaqCalends">
    <wsdl:part element="tns:getMaqCalends" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeriodesExaResponse">
    <wsdl:part element="tns:getPeriodesExaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapes2Response">
    <wsdl:part element="tns:getVersionEtapes2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDipAutCurs">
    <wsdl:part element="tns:getDipAutCurs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEtapeResponse">
    <wsdl:part element="tns:getEtapeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anneeUniDTO2Response">
    <wsdl:part element="tns:anneeUniDTO2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anneeUniDTO1">
    <wsdl:part element="tns:anneeUniDTO1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElementPedagogiResponse">
    <wsdl:part element="tns:getElementPedagogiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anneeUniDTO2">
    <wsdl:part element="tns:anneeUniDTO2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaqCalend">
    <wsdl:part element="tns:getMaqCalend" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapes1Response">
    <wsdl:part element="tns:getVersionEtapes1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiplomes">
    <wsdl:part element="tns:getDiplomes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeriodesExa">
    <wsdl:part element="tns:getPeriodesExa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionDiplome2Response">
    <wsdl:part element="tns:getVersionDiplome2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEpreuvesVetResponse">
    <wsdl:part element="tns:getEpreuvesVetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiplome">
    <wsdl:part element="tns:getDiplome" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeriodeExaResponse">
    <wsdl:part element="tns:getPeriodeExaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElementPedagogi">
    <wsdl:part element="tns:getElementPedagogi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDipAutCursResponse">
    <wsdl:part element="tns:getDipAutCursResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEtape">
    <wsdl:part element="tns:getEtape" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiplomeResponse">
    <wsdl:part element="tns:getDiplomeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElementPedagogis">
    <wsdl:part element="tns:getElementPedagogis" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeriodeExa">
    <wsdl:part element="tns:getPeriodeExa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionDiplomesResponse">
    <wsdl:part element="tns:getVersionDiplomesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionDiplome1Response">
    <wsdl:part element="tns:getVersionDiplome1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapes1">
    <wsdl:part element="tns:getVersionEtapes1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtape">
    <wsdl:part element="tns:getVersionEtape" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionDiplome1">
    <wsdl:part element="tns:getVersionDiplome1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapes3">
    <wsdl:part element="tns:getVersionEtapes3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionDiplome2">
    <wsdl:part element="tns:getVersionDiplome2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapes2">
    <wsdl:part element="tns:getVersionEtapes2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaqCalendResponse">
    <wsdl:part element="tns:getMaqCalendResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anneeUniDTO1Response">
    <wsdl:part element="tns:anneeUniDTO1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionDiplomes">
    <wsdl:part element="tns:getVersionDiplomes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElementPedagogisResponse">
    <wsdl:part element="tns:getElementPedagogisResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionEtapeResponse">
    <wsdl:part element="tns:getVersionEtapeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTypDiplomes">
    <wsdl:part element="tns:getTypDiplomes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTypDiplomesResponse">
    <wsdl:part element="tns:getTypDiplomesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReadEnseignement">
    <wsdl:operation name="getEtape">
      <wsdl:input message="tns:getEtape" name="getEtape">
    </wsdl:input>
      <wsdl:output message="tns:getEtapeResponse" name="getEtapeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtapes2">
      <wsdl:input message="tns:getVersionEtapes2" name="getVersionEtapes2">
    </wsdl:input>
      <wsdl:output message="tns:getVersionEtapes2Response" name="getVersionEtapes2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeriodesExa">
      <wsdl:input message="tns:getPeriodesExa" name="getPeriodesExa">
    </wsdl:input>
      <wsdl:output message="tns:getPeriodesExaResponse" name="getPeriodesExaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtapes3">
      <wsdl:input message="tns:getVersionEtapes3" name="getVersionEtapes3">
    </wsdl:input>
      <wsdl:output message="tns:getVersionEtapes3Response" name="getVersionEtapes3Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElementPedagogi">
      <wsdl:input message="tns:getElementPedagogi" name="getElementPedagogi">
    </wsdl:input>
      <wsdl:output message="tns:getElementPedagogiResponse" name="getElementPedagogiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtapes1">
      <wsdl:input message="tns:getVersionEtapes1" name="getVersionEtapes1">
    </wsdl:input>
      <wsdl:output message="tns:getVersionEtapes1Response" name="getVersionEtapes1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionDiplomes">
      <wsdl:input message="tns:getVersionDiplomes" name="getVersionDiplomes">
    </wsdl:input>
      <wsdl:output message="tns:getVersionDiplomesResponse" name="getVersionDiplomesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEpreuvesVet">
      <wsdl:input message="tns:getEpreuvesVet" name="getEpreuvesVet">
    </wsdl:input>
      <wsdl:output message="tns:getEpreuvesVetResponse" name="getEpreuvesVetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeriodeExa">
      <wsdl:input message="tns:getPeriodeExa" name="getPeriodeExa">
    </wsdl:input>
      <wsdl:output message="tns:getPeriodeExaResponse" name="getPeriodeExaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiplome">
      <wsdl:input message="tns:getDiplome" name="getDiplome">
    </wsdl:input>
      <wsdl:output message="tns:getDiplomeResponse" name="getDiplomeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionDiplome2">
      <wsdl:input message="tns:getVersionDiplome2" name="getVersionDiplome2">
    </wsdl:input>
      <wsdl:output message="tns:getVersionDiplome2Response" name="getVersionDiplome2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTypDiplomes">
      <wsdl:input message="tns:getTypDiplomes" name="getTypDiplomes">
    </wsdl:input>
      <wsdl:output message="tns:getTypDiplomesResponse" name="getTypDiplomesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElementPedagogis">
      <wsdl:input message="tns:getElementPedagogis" name="getElementPedagogis">
    </wsdl:input>
      <wsdl:output message="tns:getElementPedagogisResponse" name="getElementPedagogisResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtape">
      <wsdl:input message="tns:getVersionEtape" name="getVersionEtape">
    </wsdl:input>
      <wsdl:output message="tns:getVersionEtapeResponse" name="getVersionEtapeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEtapes">
      <wsdl:input message="tns:getEtapes" name="getEtapes">
    </wsdl:input>
      <wsdl:output message="tns:getEtapesResponse" name="getEtapesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anneeUniDTO1">
      <wsdl:input message="tns:anneeUniDTO1" name="anneeUniDTO1">
    </wsdl:input>
      <wsdl:output message="tns:anneeUniDTO1Response" name="anneeUniDTO1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaqCalend">
      <wsdl:input message="tns:getMaqCalend" name="getMaqCalend">
    </wsdl:input>
      <wsdl:output message="tns:getMaqCalendResponse" name="getMaqCalendResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionDiplome1">
      <wsdl:input message="tns:getVersionDiplome1" name="getVersionDiplome1">
    </wsdl:input>
      <wsdl:output message="tns:getVersionDiplome1Response" name="getVersionDiplome1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaqCalends">
      <wsdl:input message="tns:getMaqCalends" name="getMaqCalends">
    </wsdl:input>
      <wsdl:output message="tns:getMaqCalendsResponse" name="getMaqCalendsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anneeUniDTO2">
      <wsdl:input message="tns:anneeUniDTO2" name="anneeUniDTO2">
    </wsdl:input>
      <wsdl:output message="tns:anneeUniDTO2Response" name="anneeUniDTO2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiplomes">
      <wsdl:input message="tns:getDiplomes" name="getDiplomes">
    </wsdl:input>
      <wsdl:output message="tns:getDiplomesResponse" name="getDiplomesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDipAutCurs">
      <wsdl:input message="tns:getDipAutCurs" name="getDipAutCurs">
    </wsdl:input>
      <wsdl:output message="tns:getDipAutCursResponse" name="getDipAutCursResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReadEnseignementImplServiceSoapBinding" type="tns:ReadEnseignement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEtape">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEtape">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEtapeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtapes2">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionEtapes2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionEtapes2Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeriodesExa">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPeriodesExa">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPeriodesExaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElementPedagogi">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getElementPedagogi">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getElementPedagogiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtapes3">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionEtapes3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionEtapes3Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtapes1">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionEtapes1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionEtapes1Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEpreuvesVet">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEpreuvesVet">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEpreuvesVetResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionDiplomes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionDiplomes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionDiplomesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeriodeExa">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPeriodeExa">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPeriodeExaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiplome">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDiplome">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDiplomeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionDiplome2">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionDiplome2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionDiplome2Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTypDiplomes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTypDiplomes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTypDiplomesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElementPedagogis">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getElementPedagogis">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getElementPedagogisResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionEtape">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionEtape">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionEtapeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEtapes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEtapes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEtapesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anneeUniDTO1">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="anneeUniDTO1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="anneeUniDTO1Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaqCalend">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMaqCalend">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMaqCalendResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionDiplome1">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionDiplome1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionDiplome1Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anneeUniDTO2">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="anneeUniDTO2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="anneeUniDTO2Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaqCalends">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMaqCalends">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMaqCalendsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiplomes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDiplomes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDiplomesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDipAutCurs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDipAutCurs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDipAutCursResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadEnseignementImplService">
    <wsdl:port binding="tns:ReadEnseignementImplServiceSoapBinding" name="ReadEnseignementImplPort">
      <soap:address location="http://apo-cri-webservices.univ-rennes1.fr/esup-ws-si/cxf/ReadEnseignement" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>